#
# Copyright (C) 2009-2012 Chris McClelland
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

#===============================================================================
# USB interface
#===============================================================================
NET "sysClk_in"       LOC="T9"   | IOSTANDARD=LVTTL;   # 50MHz

NET "eppData_io<0>"   LOC="M11"  | IOSTANDARD=LVTTL;   # B40 (DIN/D0)
NET "eppData_io<1>"   LOC="N11"  | IOSTANDARD=LVTTL;   # B7
NET "eppData_io<2>"   LOC="P10"  | IOSTANDARD=LVTTL;   # B9
NET "eppData_io<3>"   LOC="R10"  | IOSTANDARD=LVTTL;   # B11
NET "eppData_io<4>"   LOC="T7"   | IOSTANDARD=LVTTL;   # B13
NET "eppData_io<5>"   LOC="R7"   | IOSTANDARD=LVTTL;   # B15
NET "eppData_io<6>"   LOC="N6"   | IOSTANDARD=LVTTL;   # B17
NET "eppData_io<7>"   LOC="M6"   | IOSTANDARD=LVTTL;   # B19

NET "eppAddrStb_in"   LOC="E15"  | IOSTANDARD=LVTTL | PULLUP;   # B25 (PD1)
NET "eppDataStb_in"   LOC="N9"   | IOSTANDARD=LVTTL | PULLUP;   # B38 (PD5 - INIT)
NET "eppWrite_in"     LOC="C15"  | IOSTANDARD=LVTTL | PULLUP;   # B21 (PD3)
NET "eppWait_out"     LOC="D15"  | IOSTANDARD=LVTTL;            # B23 (PD2)

#===============================================================================
# On-board peripheral signals
#===============================================================================
NET "led_out<0>"      LOC="K12"  | IOSTANDARD=LVTTL;
NET "led_out<1>"      LOC="P14"  | IOSTANDARD=LVTTL;
NET "led_out<2>"      LOC="L12"  | IOSTANDARD=LVTTL;
NET "led_out<3>"      LOC="N14"  | IOSTANDARD=LVTTL;
NET "led_out<4>"      LOC="P13"  | IOSTANDARD=LVTTL;
NET "led_out<5>"      LOC="N12"  | IOSTANDARD=LVTTL;
NET "led_out<6>"      LOC="P12"  | IOSTANDARD=LVTTL;
NET "led_out<7>"      LOC="P11"  | IOSTANDARD=LVTTL;

NET "sseg_out<0>"     LOC="E14"  | IOSTANDARD=LVTTL;   # segment a
NET "sseg_out<1>"     LOC="G13"  | IOSTANDARD=LVTTL;   # segment b
NET "sseg_out<2>"     LOC="N15"  | IOSTANDARD=LVTTL;   # segment c
NET "sseg_out<3>"     LOC="P15"  | IOSTANDARD=LVTTL;   # segment d
NET "sseg_out<4>"     LOC="R16"  | IOSTANDARD=LVTTL;   # segment e
NET "sseg_out<5>"     LOC="F13"  | IOSTANDARD=LVTTL;   # segment f
NET "sseg_out<6>"     LOC="N16"  | IOSTANDARD=LVTTL;   # segment g
NET "sseg_out<7>"     LOC="P16"  | IOSTANDARD=LVTTL;   # decimal point

NET "anode_out<0>"    LOC="D14"  | IOSTANDARD=LVTTL;
NET "anode_out<1>"    LOC="G14"  | IOSTANDARD=LVTTL;
NET "anode_out<2>"    LOC="F14"  | IOSTANDARD=LVTTL;
NET "anode_out<3>"    LOC="E13"  | IOSTANDARD=LVTTL;

NET "sw_in<0>"        LOC="F12"  | IOSTANDARD=LVTTL;   # SW0
NET "sw_in<1>"        LOC="G12"  | IOSTANDARD=LVTTL;   # SW1
NET "sw_in<2>"        LOC="H14"  | IOSTANDARD=LVTTL;   # SW2
NET "sw_in<3>"        LOC="H13"  | IOSTANDARD=LVTTL;   # SW3
NET "sw_in<4>"        LOC="J14"  | IOSTANDARD=LVTTL;   # SW4
NET "sw_in<5>"        LOC="J13"  | IOSTANDARD=LVTTL;   # SW5
NET "sw_in<6>"        LOC="K14"  | IOSTANDARD=LVTTL;   # SW6
NET "sw_in<7>"        LOC="K13"  | IOSTANDARD=LVTTL;   # SW7

#===============================================================================
# Timing constraint of 50MHz clock "sysClk_in"
#===============================================================================
NET "sysClk_in" TNM_NET = "sysClk_in";
TIMESPEC "TS_clk" = PERIOD "sysClk_in" 20 ns HIGH 50 %;
